<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-between">
    <%= link_to(lists_path) do %>
      <%= image_tag "logo.png", alt: "Alien", width: 50 %>
    <% end %>
    <%= link_to 'Create a new list', new_list_path, class: 'btn btn-outline-success'%>
  </form>
</nav>

<div class="banner text-center d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.jpg" %>);">
  <div class="container">
    <h1><strong>Movies My Bru<strong></h1>
  </div>
</div>



<div class="container p-5 align-items-center text-center">

  <h3>My Lists</h3>

  <% @lists.each do |list| %>
    <div class="card-list m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to list.name, list_path(list), class: "text-white" %>
    </div>
    <br>
  <% end %>

</div>
