<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-between">
    <%= link_to(root_path) do %>
      <%= image_tag "logo.png", alt: "Alien", width: 50 %>
    <% end %>
    <div class="">
      <%= link_to 'Home', root_path, class: 'text-dark pr-2' %>
    </div>
  </form>
</nav>

<div class="container p-5">
  <h1>Create a new list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Create', class: 'btn btn-outline-success' %>
    <%= link_to "Cancel", root_path, class: "btn btn-warning" %>
  <% end  %>
</div>
