<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-between">
    <%= link_to(root_path) do %>
      <%= image_tag "logo.png", alt: "Alien", width: 50 %>
    <% end %>
    <div class="">
      <%= link_to 'Home', root_path, class: 'text-dark pr-2' %>
    </div>
  </form>
</nav>

<div class="container p-5">
  <h1>Add a Movie to <%= @list.name %></h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.button :submit, class: "btn btn-success mr-3" %>
    <%= link_to "Cancel", list_path(@list), class: "btn btn-warning" %>
  <% end %>


</div>
